
#login-page-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    margin: 60px;
}

.login-form {
    border-radius: 24px;
    border: 2px solid var(--secondary);
    width: 600px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 10px 10px var(--dark-shadow);
}

.login-h1 {
    font-size: 40px;
}


.login-label {
    margin-top: 16px;
    display: block;
    font-size: 16px;
}

.login-input {
    border-radius: 12px;
    padding: 12px;
    width: 400px;
    display: block;
}

.login-input:focus {
    outline: 2px solid var(--primary);
}

.login-button {
    font-size: 24px;
    background-color: var(--primary);
    margin: 20px 0;
    width: 240px;
    border-radius: 12px;
    padding: 12px;
    transition: all 0.2s ease-in-out;
    border: 1px solid var(--white);
}

.login-button:hover {
    background-color: var(--secondary);
}

.login-button:focus {
    outline: 2px solid var(--dark-shadow);
}

hr {
    width: 260px;
    opacity: 0.4;
    margin-bottom: 20px;
}

.register-link {
    text-decoration: none;
    color: var(--primary);
}

.register-link:hover {
    text-decoration: underline;
    color: var(--primary-light);
}

.login-msg-red {
    margin: 12px 0 0;
    border-radius: 12px;
    color: var(--white);
    background-color: var(--warning);
    width: 240px;
    padding: 20px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px var(--dark-shadow);
}

.spinner {
    width: 20px;
    height: 20px;
    border: 3px solid #ccc;
    border-top: 3px solid #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    display: inline-block;
    vertical-align: middle;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
