
#login-page-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    margin: 140px;
}

.login-form {
    border-radius: 24px;
    border: 2px solid var(--light-gray);
    width: 600px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-h1 {
    font-size: 40px;
    color: var(--accent);
}

.login-h2 {
    color: var(--accent);
}


.login-label {
    margin-top: 16px;
    display: block;
    font-size: 16px;
}

.login-input {
    border-radius: 12px;
    padding: 12px;
    width: 400px;
    display: block;
    border: 1px solid var(--light-gray);
}

.login-input:focus {
    outline: 2px solid var(--primary);
}

.login-button {
    cursor: pointer;
    font-size: 24px;
    background-color: var(--accent);
    color: var(--white);
    margin: 20px 0;
    width: 240px;
    border-radius: 12px;
    padding: 12px;
    transition: all 0.2s ease;
    border: 1px solid var(--light-gray);
}

.login-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 36px rgba(99, 102, 241, 0.65);
}


hr {
    width: 260px;
    opacity: 0.4;
    margin-bottom: 20px;
}

.register-link {
    text-decoration: none;
    color: var(--accent);
    transition: all 0.1s ease-in-out;
}

.register-link:hover {
    text-decoration: underline;
    color: var(--accent-light);
}

.login-msg-red {
    margin: 12px 0 0;
    border-radius: 12px;
    color: white;
    background-color: var(--warning);
    width: 240px;
    padding: 20px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px var(--dark-shadow);
}

.spinner {
    width: 20px;
    height: 20px;
    border: 3px solid #ccc;
    border-top: 3px solid #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    display: inline-block;
    vertical-align: middle;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
