#reg-page-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    margin-top: 100px;
}

.reg-form {
    border-radius: 24px;
    border: 4px solid var(--primary);
    width: 600px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 10px 10px var(--dark-shadow);
}

.reg-h1 {
    color: #335c67;
    font-size: 40px;
}

.reg-h2 {
    color: #335c67;
}

.reg-label {
    margin-top: 16px;
    display: block;
    font-size: 16px;
}

.reg-input {
    border-radius: 12px;
    padding: 12px;
    width: 400px;
    display: block;
}

.reg-input:focus {
    outline: 2px solid var(--primary);
}

.reg-button {
    cursor: pointer;
    font-size: 24px;
    background-color: var(--primary);
    color: white;
    margin: 20px 0;
    width: 240px;
    border-radius: 12px;
    padding: 12px;
    transition: all 0.2s ease-in-out;
    border: 1px solid var(--white);
}

.reg-button:hover {
    background-color: var(--primary-light);
}

.reg-button:focus {
    outline: 2px solid var(--dark-shadow);
}

hr {
    width: 260px;
    opacity: 0.4;
    margin-bottom: 20px;
}

.register-link {
    text-decoration: none;
    color: var(--primary);
}

.register-link:hover {
    text-decoration: underline;
    color: var(--primary-light);
}

.reg-msg-green {
    border-radius: 12px;
    color: white;
    background-color: var(--primary);
    width: 400px;
    padding: 20px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px var(--dark-shadow);
}

.reg-msg-red {
    border-radius: 12px;
    color: white;
    background-color: var(--warning);
    width: 400px;
    padding: 20px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px var(--dark-shadow);
}

.spinner {
    width: 20px;
    height: 20px;
    border: 3px solid var(--light);
    border-top: 3px solid var(--dark-secondary);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    display: inline-block;
    vertical-align: middle;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
