<div class="container">
    <div class="grid">
      <div class="card" *ngFor="let a of apartments">
        <div class="image-wrap">
          <img [src]="a.photo" alt="" />
          <span class="price">
            {{ a.price | number }} KZT 
          </span>
        </div>
  
        <div class="content">
          <h3>{{ a.title }}</h3>
  
          <p class="location">
            {{ a.location.region }},
            {{ a.location.street }}
          </p>
  
          <div class="meta">
            <span>🛏 {{ a.room_count }}</span>
            <span>📐 {{ a.area }} м²</span>
            <span>🏢 {{ a.floor || '—' }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  