/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
}

:root {
    --bg-color: white;
    --light-gray: 	#9a9898;

    --primary: 	#ddd3d2;
    --primary-light: 	#900100;
    --secondary: #e09f3e;
    --secondary-light: #e094;
    --warning: rgb(200, 15, 15);
    --dark: 	#e09f3e;
    --dark-secondary: 	#292b2f;
    --dark-secondary-hover: #e094;
    --dark-third: 	#2f3136;
    --dark-shadow: #00000033;
    --black: rgb(15, 14, 18);
    --white: #000;
    --light-gray: 	#9a9898;
}

body {
    background-color: var(--bg-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, Helvetica, sans-serif;
    color: var(--black);
}

button {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, Helvetica, sans-serif;
}

input {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, Helvetica, sans-serif;
}
