/* :root { */
/*   --bg: #0a0a0a; */
/*   --text: #f5f5ff; */
/*   --muted: #a1a1aa; */
/*   --accent: #6366f1; /* нормальный контраст */ 
/* } */

/* BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  z-index: 100;
  min-height: 100vh;
  /* background: var(--bg); */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter, system-ui, sans-serif;
}

/* CONTENT */
.hero-inner {
  color: white;
  z-index: 100;
  max-width: 760px;
  padding: 2rem;
  text-align: center;
  animation: fade 0.6s ease-out;
}

/* EYEBROW */
.eyebrow {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: white;
}

/* TITLE */
.hero-inner h1 {
  font-size: clamp(3rem, 6vw, 4.2rem);
  font-weight: 800;
  font-size: 5.5rem;
  /* line-height: 1.1; */
  color: white;
  letter-spacing: -0.03em;
  text-shadow: 16px 16px 32px var(--black);
  transition: all 0.2s ease-in;
}

.hero-inner h1:hover {
  cursor: pointer;
  font-weight: 900;
  text-shadow: 32px 32px 64px var(--accent);
}


/* TEXT */
.hero-inner p {
  margin-top: 1.5rem;
  font-size: 2.15rem;
  color: var(--text);
  /* line-height: 1.6; */
}

/* ACTIONS */
.actions {
  margin-top: 3.2rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

/* BUTTONS */
.btn {
  min-width: 12.5rem;
  height: 3.25rem;
  border-radius: 0.75rem;
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* PRIMARY */
.btn.primary {
  background: linear-gradient(135deg, #6366f1, #4f46e5);
  color: #ffffff;
  border: none;
  box-shadow: 0 8px 24px rgba(99, 102, 241, 0.45);
  position: relative;
}

.btn.primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 36px rgba(99, 102, 241, 0.65);
}

.btn.primary::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  filter: blur(14px);
  background: #6366f1;
  opacity: 0.45;
  z-index: -1;
}

/* SECONDARY */
.btn.secondary {
  background: var(--white);
  border: 1px solid #27272a;
  color: var(--black);
  transition: all 0.2s ease;
}

.btn.secondary:hover {
  background: var(--accent);
  color: var(--white);
  transform: translateY(-2px);
  box-shadow: 0 14px 36px rgba(99, 102, 241, 0.65);
}

/* ANIMATION */
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-page-img {
  position: absolute;
  z-index: 1;
  width: 100%;
  filter: brightness(50%);
}
