.regions-card-cont {
  margin: 0 auto;
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  max-width: 1400px;
}

.select-h1 {
  font-size: 60px;
  max-width: 100%;
  padding: 24px;
  text-align: center;
}

.region-card {
  padding: 24px;
  border-radius: 14px;
  height: 80px;
  background-color: var(--accent);
  box-shadow: 0 16px 48px rgba(0, 0, 0, 0.16);
  transition: all 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-gray);
}

.region-card:hover {
  transform: translateY(-8px);
  filter: brightness(80%);
  box-shadow: 0 14px 36px rgba(99, 102, 241, 0.80);
}

.region-card-text {
  font-size: 32px;
  text-align: center;
  font-weight: 500;
}
