<header class="app-header">
  <div class="left">
    <img
      src="app-logo.svg"
      alt="logo"
      class="logo"
      (click)="redirectToHome()"
    />
  </div>

  <div class="right">
    @if (this.authService.isAuthenticated()) {
      <img
        src="default-profile.png"
        alt="Profile"
        class="profile-image"
        (click)="redirectToProfile()"
      />

      <button class="btn secondary" (click)="this.authService.logout()">
        Logout
      </button>
    } @else {
      <button class="btn secondary" (click)="redirectToLogin()">
        Sign in
      </button>

      <button class="btn primary" (click)="redirectToRegister()">
        Get started
      </button>
    }
  </div>
</header>

<router-outlet></router-outlet>
