.select-card-cont {
  margin: 0 auto;
  padding: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 12px;
}

.select-h1 {
  font-size: 60px;
  max-width: 100%;
  padding: 24px;
  text-align: center;
}

.select-card {
  padding: 24px;
  border-radius: 14px;
  width: 640px;
  background-color: var(--primary);
  box-shadow: 0 16px 48px rgba(0, 0, 0, 0.16);
  transition: all 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  display: flex;
  border: 1px solid var(--light-gray);
  flex-direction: row;
  margin-bottom: 10rem;
}

.select-card:hover {
  border-color: var(red);
  filter: brightness(80%);
}

.select-card-text {
  font-size: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.select-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 14px 32px rgba(0, 0, 0, 0.12);
}

.select-card-img {
  width: 400px;
}

